.routeTable{
  background-color: #f5f5f5;
}
.control-button{
  padding: 4px;
  // padding-right: 9px;
  margin-left: 2px;
  margin-right: 2px;
}

.open-file-div{
  margin-bottom: 10px;
}

.center{
  text-align: center;
}

.reference{
  font-weight: bold;
}
