.map-route-overlay{
   position: absolute;
   top: 0px;
   left: 0px;
   margin: 20px;
   width: 300px;
   z-index: 1000;
}

.map-title-overlay{
  position: absolute;
  pointer-events:none;
  bottom: 10px;
  right: 0px;
  margin: 10px;
  z-index: 1000;
}
